*{margin: 0; padding: 0; box-sizing: border-box;}


h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-size: 24px;
    font-weight: bold;
}